<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/nav') %>



    <div class="container mt-4 mx-auto">
        <div class="row g-4 mx-auto">
            <% blogs.forEach(blog => { %>
                <div class="col mx-auto">
                    <div class="card mx-auto" style="width: 18rem;">
                        <img src="<%= blog.coverImageUrl %>" class="card-img-top"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= blog.title %></h5>
                          <a href="/blog/<%= blog._id %>" class="btn btn-primary">view</a>
                        </div>
                      </div>
                </div>
            <% }) %>

        </div>
    </div>



    <%- include('./partials/script') %>
</body>
</html>
